<div class="page-header">
  <h1>
  	サーバ情報の編集
  </h1>
</div>
<%= render :partial => 'form' %>


<div class="page-header">
  <h3>
  	サーバ情報の削除
  </h3>
</div>
<p>サーバ監視をやめる場合は、下のボタンをクリックしてください。</p>
<div class="form-actions">
  <%= link_to icon_tag('icon-white icon-trash') + '削除',
    server_path(@server),
    :method => 'delete',
    :data => { :confirm => '本当によろしいですか？' },
    :class => 'btn btn-danger' %>
</div>
