<div id="in-nav">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="pull-right">
          <%= render partial: 'shared/inline-sign_in-form' %>
        </div>

        <!-- タイトルロゴ -->
        <a id="logo" href="<%= root_path %>"> <h4> My <strong>VPS</strong></h4> </a>
      </div>
    </div>
  </div>
</div>