			        <!-- トップ内容 -->
			        <div class="span12"><div align="center"><img src="img/logo.png">
<font color="gray"><h1>ここにキャッチフレーズ的な</h1></font></div></div>
						<div class="about"><div class="span4">
						            <h2><img align="middle" style="width: 100px; height: 100px;" src="img/about.png">What?</h2>
									あなたはVPSの管理に困ったことはありませんか？
									<br>
									VPSは自分の好きなようにカスタマイズできる！
									<br>
									レンタルサーバではできないようなことをしたい！
									<br>
									でも実際は「これでうまくいってるのかな？」
									<br>
									と、不安になるときもあるでしょう。そんな時にはこの
									<br>
									VPS Watcherを是非お使いください！
									<br>
							<a class="btn" href="#"> Sign Up </a>
						</div>

						<div class="span4">
							<h2><img align="middle" style="width: 100px; height: 100px;" src="img/detail.png">In details</h2>
							qwertyuiopasdfghjklzxcvbnm
							<br>
							1234567890
							<br>
							<a class="btn" href="#"> View details </a>
						</div>

						<div class="span3">
							<h2><img align="middle" style="width: 100px; height: 100px;" src="img/contact.png">Free!</h2>
									qwertyuiopasdfghjklzxcvbnm
									<br>
									1234567890
									<br>
							<a class="btn" href="#"> Contacts >></a>
						</div>
</div>
						<!-- /トップ内容 -->