/*
 *= require bootstrap/bootstrap
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

body {
	background-color: #FFFFFF;
	font-family: Lato;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
body p {
	font-size: 0.9em;
}
body p.sub {
	color: #999999;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	font-weight: 300;
	text-transform: uppercase;
}

/* スマホの設定 */
#headerNav{
display: none;
}

/* タブレットの設定 */
@media all and (min-width: 480px){
#footerNaLink{
display: none;
}
#headerNav{
display: block;
}
#footerNav{
display: none;
}

/* PCの設定 */
/*
all:980px
sub:200px
margin: 15px
main: 765px
*/

@media all and (min-width: 768px){
#container{
overflow: hidden;
}
#main{
float: left;
width: 78.06122245%;/* 765px/980px*100 */
}
#sub{
float: right;
width: 20.4081633%; /* 200px/980px*100 */
}
}

#logo {
	color: #333333;
}
.page {
	background-color: #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
	margin: -70px auto auto;
	padding: 20px 0;
	width: 80%;
	height: 90%;
}
.page .header {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.page-container {
	padding: 0 60px;
	margin-top: 5%;
}

#in-nav ul.pull-right {
	top: 0 !important;
}
.message-sidebar {
	margin-right: -20px !important;
}
#in-nav {
	background-color: white;
	background-repeat: repeat;
	height: 50px;
	padding-top: 10px;
}
#in-nav ul {
	position: relative;
	top: 10px;
}
#in-nav ul li {
	display: inline;
	list-style-type: none;
}
#in-nav ul li a {
	padding: 10px;
}
#in-sub-nav {
	background-color: #333333;
	box-shadow: 0 0 10px #111111 inset;
}
#in-sub-nav ul {
	margin-bottom: 80px;
	text-align: center;
}
#in-sub-nav li {
	display: inline-block;
	list-style-type: none;
}
#in-sub-nav li a {
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	display: block;
	font-weight: 100;
	margin: 20px 10px 10px;
	min-height: 56px;
	min-width: 64px;
	padding: 15px 10px 5px;
}
#in-sub-nav li a:hover, #in-sub-nav li a.active {
	background-color: #555555;
	text-decoration: none;
}
#in-sub-nav li span.label.pull-right {
	position: relative;
	right: 14px;
	top: 24px;
}
footer {
	color: #999999;
	padding-bottom: 20px;
	padding-top: 20px;
}
footer a {
	color: #999999;
}
.divide {
	border-top: 1px solid #EEEEEE;
	margin-top: 40px;
	padding-top: 40px;
}
.small-divide {
	border-top: 1px solid #EEEEEE;
	margin-top: 20px;
	padding-top: 20px;
}
.batch {
	background-image: url("../img/white-batch-32.png");
	display: inline-block;
	height: 32px;
	width: 32px;
}
.home {
	background-position: -128px -96px;
}
.star {
	background-position: -192px -96px;
}
.forms {
	background-position: -96px -32px;
}
.stream {
	background-position: 0 -64px;
}
.tables {
	background-position: -32px -32px;
}
.settings {
	background-position: -288px -128px;
}
.quill {
	background-position: -288px 0;
}
.users {
	background-position: 0 -96px;
}
.plane {
	background-position: -256px -96px;
}
.calendar {
	background-position: -160px -128px;
}
.batch-big {
	background-image: url("../img/white-batch-64.png");
	display: inline-block;
	height: 64px;
	width: 64px;
}
.b-wifi {
	background-position: -256px -64px;
}
.b-code {
	background-position: -64px 0;
}
.b-comment {
	background-position: -192px -256px;
}
.b-flag {
	background-position: -384px -256px;
}
.b-database {
	background-position: -256px 0;
}
.b-alarm {
	background-position: -384px 0;
}
.message-sidebar {
	border-right: 1px solid #EEEEEE;
	margin: -20px 0 -20px -20px;
}
.message-sidebar a.message-preview {
	background-color: #F6F6F6;
	border-bottom: 1px solid #EEEEEE;
	display: block;
	padding: 10px 20px;
}
.message-sidebar a.message-preview h4 {
	font-weight: 400;
	text-transform: none;
}
.message-sidebar a.message-preview p, .message-sidebar a.message-preview h5 {
	color: #999999;
}
.message-sidebar a.new {
	background-color: #FFFFFF;
}
.message-sidebar a.active {
	background-color: #008DCD;
	color: #FFFFFF;
}
.message-sidebar a.active p, .message-sidebar a.active h5 {
	color: rgba(255, 255, 255, 0.8);
}
.message-sidebar a:hover {
	cursor: pointer;
	text-decoration: none;
}
.message-sidebar .load-more {
	text-align: center;
}
.message-sidebar .load-more a {
	display: block;
	padding: 20px;
}
.message-sidebar {
	height: 700px;
	overflow: auto;
}
.messages h4 {
	font-weight: 400;
	text-transform: none;
}
.messages .message {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.messages .message h5 {
	font-weight: 300;
}
.messages .message-body {
	padding-left: 80px;
}
.messages .message-body textarea {
	height: 80px;
	margin-right: 20px;
	width: 96%;
}
.login {
	margin-bottom: 80px;
	margin-top: 40px;
	padding: 20px;
}
.sidebar {
	border-top: 1px solid #EEEEEE;
}
.sidebar ul {
	margin: 0;
	padding: 0;
}
.sidebar ul li {
	list-style-type: none;
}
.sidebar ul li a {
	border-bottom: 1px solid #EEEEEE;
	display: block;
	padding: 10px;
	text-transform: uppercase;
}
.sidebar ul li a:hover {
	background-color: #EEEEEE;
	text-decoration: none;
}
.sidebar ul li ul {
	background-color: #F6F6F6;
	box-shadow: 0 1px 10px #E0E0E0 inset;
}
ul.stat-list {
	margin: 0;
}
ul.stat-list li {
	list-style-type: none;
}
ul.stat-list li label, ul.stat-list li h4, ul.stat-list li small, ul.stat-list li p {
	display: inline-block;
}
ul.stat-list li label {
	border-radius: 2px 2px 2px 2px;
	height: 32px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}
ul.stat-list li label i {
	margin-top: 8px;
}
ul.stat-list li h4 {
	font-weight: 600;
	margin-right: 10px;
	min-width: 30px;
}
ul.stat-list li h4.sub {
	color: #999999;
	font-weight: 300;
}
.progress-small {
	height: 8px;
}
.widget {
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	color: #555555;
	margin-bottom: 20px;
	padding: 20px;
}
.widget td.bar-label {
	color: #999999;
	font-weight: 300;
	padding-right: 20px;
	text-align: right;
	width: 20%;
}
.widget td.bar-number, .widget td.bar-percent {
	font-weight: 600;
	width: 15%;
}
.widget td.bar-percent span {
	font-weight: 300;
}
.widget td .progress {
	border-radius: 4px 4px 4px 4px;
	display: block;
	height: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
}
.spark {
	margin-bottom: 20px;
}
.spark h4 {
	font-weight: 500;
}
.spark h4.sub {
	color: #999999;
	font-weight: 300;
}
.spark h4.sub span.minus {
	color: #EA494A;
	float: right;
}
.spark h4.sub span.plus {
	color: #4CB158;
	float: right;
}
.spark .sparklines {
	float: right;
}
.knob {
	text-align: center;
}
.table-panel i {
	margin: 4px;
}
.table-panel table {
	border-top: 1px solid #EEEEEE;
}
.peity {
	margin-bottom: 20px;
}
.peity canvas {
	margin-right: 10px;
}
.peity h4 {
	display: inline-block;
	font-weight: 600;
	margin: 0;
	min-width: 30px;
}
.peity h4.sub {
	color: #999999;
	font-weight: 300;
}
.panel {
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	width: 150px;
}
.panel .top {
	background-color: #555555;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-top: 20px;
}
.panel .top i {
	display: block;
	margin: 0 auto 20px;
}
.panel .top h6 {
	background-color: #555555;
	border-radius: 30px 30px 30px 30px;
	color: #FFFFFF;
	display: inline;
	font-size: 0.7em;
	font-weight: 600;
	padding: 6px 12px;
	position: relative;
	top: 5px;
}
.panel .bottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: medium none;
	padding-top: 20px;
	text-align: center;
}
.panel .bottom h2 {
	font-weight: 600;
	margin: 0;
}
.panel .bottom h6 {
	bottom: 10px;
	color: #555555;
	font-size: 0.7em;
	font-weight: 600;
	position: relative;
}
.panel .warning, .panel .warning h6 {
	background-color: #FFA93C;
}
.panel .success, .panel .success h6 {
	background-color: #4CB158;
}
.panel .danger, .panel .danger h6 {
	background-color: #EA494A;
}
.panel .info, .panel .info h6 {
	background-color: #14B8D4;
}
.panel .primary, .panel .primary h6 {
	background-color: #007CCD;
}
.panel .purple, .panel .purple h6 {
	background-color: #7932EA;
}
.stats {
	text-align: center;
}
.stats .stat {
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	color: #555555;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.stats .stat h2 {
	font-weight: 600;
}
.stats .stat h6 {
	margin-top: -10px;
}
.stats .warning {
	background-color: #FFA93C;
	color: #FFFFFF;
}
.stats .success {
	background-color: #4CB158;
	color: #FFFFFF;
}
.stats .danger {
	background-color: #EA494A;
	color: #FFFFFF;
}
.stats .info {
	background-color: #14B8D4;
	color: #FFFFFF;
}
.stats .primary {
	background-color: #007CCD;
	color: #FFFFFF;
}
.stats .purple {
	background-color: #7932EA;
	color: #FFFFFF;
}
.stats .inverse {
	background-color: #333333;
	color: #FFFFFF;
}
.rating-star, .no-star, .half-star {
	background-image: url("../img/stars.png");
	display: inline-block;
	height: 16px;
	width: 16px;
}
.no-star {
	background-position: 0 -16px;
}
.half-star {
	background-position: 0 -32px;
}
.profile-sidebar ul {
	margin: 20px 0 0;
}
.profile-sidebar ul li {
	border-top: 1px solid #EEEEEE;
	list-style-type: none;
	padding: 10px 0;
}
.profile-sidebar ul li i {
	margin-right: 5px;
}
.tables code {
	display: inline-block;
	margin: 2px;
}
.filters input[type="checkbox"] {
	float: left;
	margin-right: 10px;
}
.filters h5 {
	border-bottom: 1px solid #EEEEEE;
	margin-top: 20px;
	padding-bottom: 5px;
}
.filters span {
	color: #999999;
}
.stream .item {
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 0 30px 60px;
}
.stream .item .stream-icon {
	background-color: #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	display: inline-block;
	float: left;
	height: 40px;
	margin-bottom: -40px;
	margin-left: -40px;
	position: relative;
	right: 20px;
	text-align: center;
	top: 15px;
	width: 40px;
}
.stream .item .stream-icon i {
	margin-top: 12px;
}
.stream .item .stream-success {
	background-color: #4CB158;
}
.stream .item .stream-danger {
	background-color: #EA494A;
}
.stream .item .stream-warning {
	background-color: #FFA93C;
}
.stream .item .stream-info {
	background-color: #14B8D4;
}
.stream .item .avatar {
	border-radius: 4px 4px 4px 4px;
	float: left;
	height: 40px;
	margin-bottom: -40px;
	margin-left: -40px;
	position: relative;
	right: 20px;
	top: 15px;
}
.stream .item h4 {
	margin-bottom: 6px;
}
.stream .item p {
	color: #777777;
}
.stream .item p.date {
	float: right;
	margin-top: 10px;
	padding: 0;
}
.qa {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}
.qa h4 {
	font-weight: 400;
	text-transform: none;
}
.event {
	border-top: 1px solid #EEEEEE;
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}
.event p {
	color: #999999;
}
.event h4 {
	color: #008DCD;
	font-weight: 500;
	margin: 5px 0;
	text-transform: none !important;
}
.event .date {
	border-left: 4px solid #EEEEEE;
	display: inline-block;
	float: left;
	margin-right: 20px;
	padding-left: 16px;
	text-align: center;
}
.event .date h1 {
	font-weight: 500;
	line-height: 0.8em;
}
.event .date h4 {
	color: #555555;
	font-weight: 300;
	line-height: 1em;
}
.event .success {
	border-color: #4CB158;
}
.event .danger {
	border-color: #EA494A;
}
.event .info {
	border-color: #14B8D4;
}
.event .primary {
	border-color: #007CCD;
}
.event .warning {
	border-color: #FFA93C;
}
.event .purple {
	border-color: #7932EA;
}
.event .inverse {
	border-color: #333333;
}
#events .load-more {
	text-align: center;
}
#events {
	height: 600px;
	overflow: auto;
}
#calendar h2 {
	font-size: 17.5px;
}
#calendar th {
	background-color: #EEEEEE;
}
#calendar th, #calendar td {
	border-color: #EEEEEE;
}
#calendar .fc-event-skin {
	background-color: #007CCD;
	border: 1px solid #007CCD;
	border-radius: 4px 4px 4px 4px;
	text-align: center;
}
.tag {
	background-color: #EEEEEE;
	border-radius: 4px 4px 4px 4px;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 3px 8px;
}
.tag:hover {
	background-color: #008DCD;
	color: #FFFFFF;
	text-decoration: none;
}
.settings-group {
	margin-top: 40px;
}
