<div id="in-sub-nav">
  <div class="container">
    <div class="row">
      <div class="span12">
      <!-- メニュー -->
        <ul>
          <li>
            <a class="active" href="<%= root_path %>">
              <i class="batch home"></i>
              <br>
              Home
            </a>
          </li>
          <li>
            <a href="<%= servers_path %>"> <i class="batch stream"></i>
            <br>
            Dashboard </a>
          </li>
          <li>
            <a href="system.html"> <i class="batch plane"></i>
            <br>
            System </a>
          </li>
          <li>
            <a href="contacts.html"> <i class="batch calendar"></i>
            <br>
            Contact </a>
          </li>
        </ul>
      <!-- /メニュー -->
      </div><!-- /span12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /in-sub-nav -->